h1 All my Posts
span.badge= @posts.count
= link_to({controller: 'posts', fetch: true}, { class: "fetch btn-large waves-effect waves-light" }) do  
  | Fetch
  i.mdi-action-autorenew.right
br       
= render @posts
